{% for test in node.tests if config.testsEnabled %}
    {%- if test.runOrder == 'Before' %}
        {{ test_stage(test.name, test.continueOnFailure) }}
        {{ test.templateString }}
    {%- endif %}
{%- endfor %}

{%- if config.preSQL %}
    {{ stage('Pre-SQL') }}
    {{ config.preSQL }}
{%- endif %}

{{- stage('Verify Dynamic Table') }}
SELECT COUNT(*)
FROM {{ ref_no_link(node.location.name, node.name) }};
{%- if config.postSQL %}
    {{- stage('Post-SQL') }}
    {{- config.postSQL }}
{%- endif %}

{%- if config.testsEnabled %}
	{%- for test in node.tests %}
		{%- if test.runOrder == 'After' %}
			{{- test_stage(test.name, test.continueOnFailure) }}
			{{- test.templateString }}
        {%- endif %}
	{%- endfor %}

	{%- for column in columns %}
		{%- for test in column.tests %}
			{{- test_stage(column.name + ": " + test.name) }}
			{{- test.templateString }}
		{%- endfor %}
	{%- endfor %}
{%- endif %}